﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Детска градина</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/student_613_imz.styles.css" asp-append-version="true" />
</head>
<body style="background: white;">
    <header>
        <div class="w-100 d-flex justify-content-center" style="height: 15vmax;">
            <nav class="navbar navbar-expand-lg w-75 my-5" style="background: #ccff33; border-radius: .75rem;">
              <div class="container-fluid px-5">
                <a class="navbar-brand mx-5" asp-area="" asp-page="/Index">        
                    <img src=~/images/kg-logo.jpg style="width: 5em;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="font-weight: bold; margin-left: 5em; font-size: 1.25em; font-style: italic;" id="navbarScroll">
                  <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">                
                       <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/about">За нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Acception">Прием</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Groups">Групи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Programm">Програма</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WeeklyMeal">Седмично меню</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/news/News">Новини</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Gallery">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/contacts">Контакти</a>
                        </li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="w-100 d-flex justify-content-center">
                <div class="w-100 p-3" style="background: #ffffb3;">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="w-100 d-flex justify-content-center">            
            <div class="w-25">
                &copy; 2022 - Детска Градина <strong>"Слънце"</strong>
            </div>
            <div class="ml-2 fw-bold">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Начало</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/about">За нас</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Acception">Прием</a>
            </div>
            <div class="ml-2 fw-bold">
                <a class="nav-link text-dark" asp-area="" asp-page="/Groups">Групи</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Programm">Програма</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/WeeklyMeal">Седмично меню</a>
            </div>
            <div class="ml-2 fw-bold">
                <a class="nav-link text-dark" asp-area="" asp-page="/news/News">Новини</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Gallery">Галерия</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/contacts">Контакти</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>