﻿@page
@model student_613_imz.Pages.news.EasterModel
@{
    ViewData["Title"] = "Великден";
}

<div class="w-75 d-flex justify-content-center">
    <img src=~/images/news/easter.jpg class="w-75"/>
</div>
