﻿@page
@model student_613_imz.Pages.news.MarchModel
@{
    ViewData["Title"] = "3ти март";
}

<div class="w-75 d-flex justify-content-center">
    <img src=~/images/news/03-03.jpg class="w-75"/>
</div>