﻿@page
@model student_613_imz.Pages.news.NewsModel
@{
    ViewData["Title"] = "Новини";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75 bg-white rounded-3 p-2 d-flex justify-content-between">
        <div class="text-center w-25">
            <a class="nav-link text-dark" asp-area="" asp-page="/news/March">
                <img src=~/images/news/03-03.jpg class="w-75"/>
                <br />
                <strong style="color: #1aa3ff;">
                    Честването на 3ти март в ДГ "Слънце"
                </strong>
            </a>
       </div> 
        <div class="text-center w-25">
            <a class="nav-link text-dark" asp-area="" asp-page="/news/Easter">
                <img src=~/images/news/easter.jpg class="w-75"/>
                <br />
                <strong style="color: #1aa3ff;">
                    Подготовка за Великден в ДГ "Слънце"
                </strong>
            </a>
       </div> 
        <div class="text-center w-25">            
            <a class="nav-link text-dark" asp-area="" asp-page="/news/May">
                <img src=~/images/news/06-05.jpg class="w-75"/>
                <br />
                <strong style="color: #1aa3ff;">
                    Честването на 6ти май в ДГ "Слънце"
                </strong>
            </a>
       </div> 
    </div>
</div>
