﻿@page
@model student_613_imz.Pages.AboutModel
@{
    ViewData["Title"] = "За нас";
}

<div class="w-100 py-5">
    <div class="text-center mb-3" style="font-size: 2em;">
        <strong> 
            История
        </strong>
    </div>
    <div class="p-5">
        <p>
            Тя започва в едно слънчево мартенско утро на 1976г., когато в града отваря врати нова детска градина с директор Стоенка Дечева.Снимките и документите напомнят за будната мисъл, за всеотдайния и не лек труд на учителките при възпитанието и обучението на децата. 
        </p>
        <p>
            Това е творческият път на няколко поколения учители и помощен персонал, живели и работели с ентусиазъм и вярата, че това, което правят, ще остане за поколенията. Преодоляването на редица трудности, свързано с преместването и оборудването на нови и стари сгради, е свързано и с не малко успехи.
        </p>
        <p>
            Години наред базовите учителки Цветанка Гускова, Гроздена Цветкова, Ели Тодорова, Зюмбюлка Ножчева, Станка Митева, Генка Димитрова и Виолета Иванова предават своя професионален опит на детските учителки от целия Софийски окръг. Ножчева е носител на юбилейна значка  по случай 100 годишнината на предучилищното възпитание в България и е отличник на Министерството на образованието за 1990година. От 1998г. директор е Марина Колева.
        </p>
        <p>
            Педагогическият екип продължава традициите, като предлага модели на добри  педагогически практики  на базата на иновациите и новите технологии, с които печели награди на национални  и международни форуми. Част от работещия сега персонал още от откриването на детската градина са свързали своя професионален път с нея. Посветили са живота си за тях - ДЕЦАТА ! Стремят се да предават своя опит и знания на по-младите колеги, за да водят всеки ден децата към доброто и красивото за реализиране на техните мечти.
        </p>
        <p>
            На 19.09.2011г. официално бе прерязана лента на новата сграда на детската ясла в ДГ „Радост“.

През годините екипът е реализирал различни образователни проекти – за здравословно хранене от 2012г., който е инвестиция за бъдещето на децата ни и  три проектa ,финансирани от Центъра за интеграция на децата и учениците от етнически малцинства към МОН -2012г., 2013г., 2014г. От 2016г. детската градина откри нови приятели- децата от Детска градина „ Милка Диманич“ от гр. Власотинце, Република Сърбия.

Следващата година вече беше подписано споразумение за побратимяване на детските градини за сътрудничество за обмен на добри практики в областта на предучилищното образование, културата, спорта,  и утвърждаване на общочовешките ценности. През 2017 г. големият приятел на децата - композиторът Андрей Дреников  ни подари химн , който е визитна картичка на ДГ „ Радост“.
        </p>

        <p>
            Днес детската градина има 9 възрастови групи с 220 деца. Педагогическия персонал е високо квалифициран, усвоил спецификата на професията детски учител. Работи се по програмна система , одобрена от МОН  при спазване на държавните образователни стандарти. 
        </p>
    </div>
</div>