﻿@page
@model student_613_imz.Pages.AcceptionModel
@{
    ViewData["Title"] = "Прием";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75 bg-white rounded-3 p-2">
        <div class="text-center" style="font-size: 1.5em">
           <strong style="color: #1aa3ff;">
                Прием
           </strong>
        </div>
        <div class="mt-2 fw-bold p-3">
            <p>
                 Документи за кандидатстване в детската градина се подават от 02.01. до 30.04. на съответната календарна година. В администрацията се входират Заявление за прием на дете по образец и копие от акт за раждане на детето.  
            </p>
            <p>
                Приетите деца постъпват в детското заведение само след представяне на следните медицински документи:  
            </p>
            <ol>
               <li>
                   Здравно - профилактична карта на детето, попълнена от личния му лекар;
               </li>
               <li>
                   Еднократен птрицателен резултат от изследване за патогенни чревни бактерии и чревни паразити, извършено не по-ранот от 15 дни преди постъпване на детето в детската градина; 
               </li>
               <li>
                   Изследвания на кръв и урина, извършени в едноседмичен срок преди постъпване на детето в детската градина; 
               </li>
               <li>
                   Данни от личния лекар за имунизационния статус на детето, съгласно изискванията на Наредба № 15 от 2005г. за имунизациите в Република България; 
               </li>
               <li>
                   Медицинска бележка от личния лекар за липсата на контакт със заразно болен, издадена не по-рано от три дни преди постъпване на детето в детската градина;
               </li>
               <li>
                   За децата, кандидатстващи за яслена група - отрицателен резултат Васерман на един от родителите, извършен в срок до 6 месеца преди датат на постъпване на детето. 
               </li>
            </ol>

            <p>
                Деца, на които не са извършени задължителните имунизации за възрастта, се приемат в детската градина, когато са на лице трайни противопоказания за имунизирането им и са освободени по реда на Наредба № 15 от 2005г. за имунизациите в Република България, срещу документ за това обстоятелство.
            </p>
        </div>
    </div>
</div>