﻿@page
@model student_613_imz.Pages.ContactsModel
@{
    ViewData["Title"] = "Контакти";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75 bg-white rounded-3 p-2">
        <div class="text-center" style="font-size: 1.5em">
           <strong style="color: #1aa3ff;">
                Детска Градина "Слънце"
           </strong>
        </div>
        <div class="mt-2 fw-bold p-3">
            <p>
                Елин Пелин, ул "Никола Вапцаров" № 2
            </p>
            <p>
                тел: 0893 443 977
            </p>
            <p>
                e-mail: marinakolewa@abv.bg
            </p>
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-center mt-5">
    <div class="w-75 bg-white rounded-3 p-2">
        <div class="text-center" style="font-size: 1.5em">
           <strong style="color: #1aa3ff;">
                Антикорупция
           </strong>
        </div>
        <div class="mt-2 p-3">
            <p>
                <strong>
                    Сигнали за корупция можете да подавате, чрез: 
                </strong>
                <ol>
                <li>
                    Контактната форма посочена в сайта на ДГ "Слънце"; 
                </li>
                <li>
                    На място в деловодството на ДГ "Слънце" .
                </li>
                </ol>
            </p>
            <p>
                <strong>
                    Важно!!!
                </strong>
                <p>
                    Сигналите, които се подават в ДГ "Радост следва да са относими само и единствено към нарушения, извършени от служители на детското заведение.

                    Сигналите трябва да съдържат достатъчно информация, която да потвърждава изнесените от сигналоподателя данни за нарушения. При необходимост следва да се представят допълнителни данни и информация по законоустановения ред.

                    Анонимни сигнали не се разглеждат и не се препращат по компетентност. 
                    Изискванията относно съдържанието на сигналите са разписани в <strong>Глава шеста от ЗПКОНПИ, чл. 48.</strong>
                </p>
            </p>
        </div>
    </div>
</div>