﻿@page
@model student_613_imz.Pages.GalleryModel
@{
    ViewData["Title"] = "Галерия";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75 bg-white rounded-3 p-2">
        <div class="d-flex justify-content-between my-2 p-2 border-bottom">
            <div class="w-50">
                <img src=~/images/gallery/gallery-1.png class="w-75"/>
            </div>
            <div class="w-50">
                <img src=~/images/gallery/gallery-2.jpg class="w-75"/>
            </div>
        </div>
        <div class="d-flex justify-content-between my-2 p-2">
            <div class="w-50">
                <img src=~/images/gallery/gallery-3.jpg class="w-75"/>
            </div>
            <div class="w-50">
                <img src=~/images/gallery/gallery-4.jpg class="w-75"/>
            </div>
        </div>
    </div>
</div>
