﻿@page
@model student_613_imz.Pages.GroupsModel
@{
    ViewData["Title"] = "Групи";
}

<div class="w-100 d-flex justify-content-center p-3">
    <div class="w-75 mb-3 bg-white rounded-3 p-3">
        <div class="text-center">
            <strong>Група Слънчице</strong>
        </div>
        <div class="w-100 d-flex justify-content-center my-3">
            <img src=~/images/groups/kg-sun.jpg class="w-50" />
        </div>
        <div class="text-center fw-bold">
            <span>
                Учители:
            </span>
            <br />
            <span>
                Гергана Герганова
            </span>
            <br />
            <br />
            <span>
                Виолета Виолетова
            </span>
            <br />
            <br />
            <span>
                Помощник-възпитател:
            </span>
            <br />
            <span>
                Мария Марианова
            </span>
        </div>

        <div class="text-center">
            <strong>Група Пчелички</strong>
        </div>
        <div class="w-100 d-flex justify-content-center my-3">
            <img src=~/images/groups/kg-bees.jpg class="w-50" />
        </div>
        <div class="text-center fw-bold">
            <span>
                Учители:
            </span>
            <br />
            <span>
                Стаматка Стаматова
            </span>
            <br />
            <br />
            <span>
                Иванка Иванова
            </span>
            <br />
            <br />
            <span>
                Помощник-възпитател:
            </span>
            <br />
            <span>
                Цветанка Ризова
            </span>
        </div>

        <div class="text-center">
            <strong>Група Усмивчици</strong>
        </div>
        <div class="w-100 d-flex justify-content-center my-3">
            <img src=~/images/groups/kg-smile.jpg class="w-50" />
        </div>
        <div class="text-center fw-bold">
            <span>
                Учители:
            </span>
            <br />
            <span>
                Иванка Георгиева
            </span>
            <br />
            <br />
            <span>
                Таня Попова
            </span>
            <br />
            <br />
            <span>
                Помощник-възпитател:
            </span>
            <br />
            <span>
                Ирина Господинова
            </span>
        </div>
    </div>
</div>
