﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Слънце";
}

<div class="w-100">
    <div class="w-100 mb-5 mt-2 d-flex justify-content-center">
        <img class="w-75" src=~/images/index-view.jpg />
    </div>

    <div class="w-100 d-flex justify-content-center">
        <div class="w-75 bg-white rounded-3 p-2 d-flex justify-content-start align-items-center">
        <div class="text-center w-50">
            <a class="nav-link text-dark" asp-area="" asp-page="/news/March">
                <img src=~/images/news/03-03.jpg class="w-50"/>
                <br />
                <strong style="color: #1aa3ff;">
                    Честването на 3ти март в ДГ "Слънце"
                </strong>
            </a>
       </div> 
        <div class="text-center w-25">     
            <strong>
                ...   <a class="nav-link text-dark" asp-area="" asp-page="/news/News">Виж всички новини тук</a>
            </strong>
       </div> 
    </div>
    </div>
</div>