﻿@page
@model student_613_imz.Pages.ProgrammModel
@{
    ViewData["Title"] = "Галерия";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75 bg-white rounded-3 p-2">
        <table>
            <thead>
                <tr>
                    <th class="col-4 text-center">
                        Часови интервал
                    </th>
                    <th class="col-8">
                        Основни и допълнителни формни на педагогическо взаимодействие
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                        06:30 - 08:30
                    </td>
                    <td>
                        Прием на децата и игри
                    </td>
                </tr>
                <tr>
                    <td>
                        08:30 - 10:15
                    </td>
                    <td>
                        Игри
                    </td>
                </tr>
                <tr>
                    <td>
                        10:15 - 11:00
                    </td>
                    <td>
                        Подсилваща закуска
                    </td>
                </tr>
                <tr>
                    <td>
                        11:00 - 13:00
                    </td>
                    <td>
                        Игри и обяд
                    </td>
                </tr>
                <tr>
                    <td>
                        13:00 - 15:00
                    </td>
                    <td>
                        Сън
                    </td>
                </tr>
                <tr>
                    <td>
                        15:00 - 15:30
                    </td>
                    <td>
                        Следобедна закуска
                    </td>
                </tr>
                <tr>
                    <td>
                        15:30 - 18:30
                    </td>
                    <td>
                        Игри и вземане от родител/настойник
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>