﻿@page
@model student_613_imz.Pages.WeeklyMealModel
@{
    ViewData["Title"] = "Седмично меню";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75 bg-white rounded-3 p-2">
        <div class="text-center" style="font-size: 1.5em">
           <strong class="text-decoration-underline" style="color: #1aa3ff;">
                Седмично меню
           </strong>
        </div>
        <div class="text-center my-2" style="font-size: 1.5em">
           <strong style="color: #1aa3ff;">
                Пътеводител на здравословното хранене при децата от предучилищна възраст
           </strong>
        </div>
        <div class="mt-2 p-3">
            <p>
                Както гласи една известна мъдрост: "Здравето отвътре личи отвън." 
                <br />
                Здравословното хранене и физическата активност са основа за правилното развитие и растеж на децата. Добрите хранителни навици и спортна култура се изграждат от ранна детска възраст и са зависими от семейната среда и детската градина.
            </p>
            <p>
                <strong>
                    Нашите идеи са:
                </strong>
                <ul>
                    <li>
                        Бъдете пример за подражание - децата са добри имитатори, ако вие се храните здравословно, и те ще го правят. 
                    </li>
                    <li>
                        Започнете с малки стъпки - поетапно въвеждайте полезната храна в дневното меню на детето. 
                    </li>
                    <li>
                        Превърнете храненето в забавление - разноцветните и интересни форми на храната ще привлекат вниманието на всяко дете. 
                    </li>
                    <li>
                        Пазарувайте свежи сезонни продукти - така децата ще усетят истинския вкус на храната.
                    </li>
                    <li>
                        Заменете следобните солети или снакс с вкусен бананов или ябълков чипс, морковени солети, пуканки от карфиол.
                    </li>
                    <li>
                        Децата обичат плодови сокове - включете в дневното им меню по една чаша прясно изцеден плодов сок, а следобедната закуска заменете с вкусно смути. 
                    </li>
                    <li>
                        Позволявайте на децата да участват в избора на седмичното меню, те обичат да изразяват своето мнение и предпочитание. 
                    </li>
                </ul>
            </p>

            <p class="fw-bold">
                Храненето в ДГ "Слънце" е съобразено с нормативните документи на Министерство на здравеопазването и Министерство на земеделието и храните по утвърдено седмично меню от Община Елин Пелин. 
                <br />
                За да се запознаете с менюто последвайте линка посочен по-долу.
            </p>
        </div>
    </div>
</div>